<nav id="banner" class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div id="title" class="navbar-header">
      bTracked
    </div>

    <ul class="nav navbar-nav navbar-right">
    	<!-- <li><span class="glyphicon glyphicon-cogwheels"></span></li> -->

		<li><a href=""><span id="menu_icons" class="glyphicon glyphicon-info-sign"></span></a></li>
	</ul>
  </div>
</nav>